@use "_func" as c;

.cantstop_asmodee {
	#dicechoices {
		color: wheat;
	}
}

// Coloretto
#coloretto_wrapper {
	#round_status {
		color: white;
	}

	#deck_count {
		color: white;
	}
}

// Letter tycoon
#game_play_area {
	.lettertycoon_area {
		background-color: rgba(255,255,255,.2);
		border: none;
		color: white;
	}

	.lettertycoon_area_label {
		color: white;
	}

	.lettertycoon_deck_info {
		color: white;
	}
}

// Incan Gold
#playArea #down #decksizetext {
	color: white;
}

// Cribbage
#play-area #cards #cutCardSpace {
	color: white;
}

// Innovation
#decks_and_available_achievements {
	color: white;
}

// 7 Wonders
#sevenwonder_wrap {
	#card_rotation_wrap {
		color: white;
		#handrotation {
				filter: invert(1);
		}
	}
}

#game_play_area_wrap {
	#discard_count {
		color: white;
	}
	
	#trees h3 {
		color: white;
	}
}

// Hanabi
#hanabi_prefs_button {
	background-color: c.tint(#ccc);
}

// Haggis
#betpanel + h3 {
	color: white;
}

#myhand + h3 {
	color: white;
}

#card_played {
	color: white;
}

// Gosu
#gosu_wrapper {
	h3 {
		color: white;
	}
}

// Xanadu
.xdu_notifTop {
	color: white;
}

// Amyitis
#recruitment {
	color: white;
}

br.clear + h3 {
	color: white;
}

// Stir Fry Eighteen
#deck_wrap {
	color: white;
}

#table_setup {
	color: white;
}

// Fleet
#flt_counters {
	color: white;
}

// Kahuna
#kahuna_right_pane {
	color: white;
}

// Krosmaster
#krosmaster_interface {

	#master_list .master {
		-webkit-box-shadow: 4px 4px 37px 0 #000;
		-moz-box-shadow: 4px 4px 37px 0 #000;
		box-shadow: 4px 4px 37px 0 #000;
	}

	.playerstock {
		background: rgb(255,255,255,0.2);
		h2 {
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
			// Override for purple player
			&[style$="\000022#6f1e6b\000022"] {
				text-shadow: -1px -1px 0 #777, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777;
			}
		}
	} 
}

// Yokai
#hints_wrap {
	h3 {
		color: white;
	}

	#deck {
		border-color: c.tint(#999);
	}
}

// 7 Wonders Duel
#swd_wrap {
	.player_area_name h3,
	.end_game_player_name {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}

	.progress_token_outline {
		border: 1px solid #111;
		background: rgba(0,0,0,0.2);
	}	
}

// Puerto Rico
#pr_game_area {
	.tiles_label {
		color: #fff;
	}

	#plantations,
	#buildings {
		background: c.tint(rgba(0,0,0,0.2));
	}
}

// Kingdomino
#thething {
	.player_view,
	.info {
		color: white;
    background: c.tint(rgba(0, 0, 0, 0.1));
	}
}

// Stone Age
#sa_main {
	#diceboard {
		background: rgba(0,0,0,0.2);
		color: white;
		border: 2px solid #111;
	}
}

// Welcome To
#welcometo-container {
	#plan-cards-container,
	#construction-cards-container {
		background-color: c.tint(rgba(128,128,128,0.2));
	}
}

// Sushi Go
#sushigo_wrapper {
	#deck_container h3 {
		color: #fff;
	}

	.block_title {
		background-image: linear-gradient(180deg,hsla(0,0%,30%,.75),hsla(0,0%,10%,.75));
	}
}

// Marco Polo II
#zoomBox {
	#characterSelectionDescription {
		background: rgba(0,0,0,0.3) !important;
	}
}

// Con Sonar
#cards_title {
	#torpedocards_title,
	#playerhand_title {
		color: white;
	}
}

// Turn the Tide

// Clans of Calendonia
// Fix for black player name
#coc_game {
	#players-zone h3 span[style*="\000022#000000\000022"] {
		text-shadow: -1px -1px 0 #777, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777 !important;
	}
}

// Lost cities
#lostcities_wrapper {
	#round_count,
	#deck_count {
		color: #fff !important;
	}
}

// For Sale
#game_play_area_wrap {
	#player_bid_zone {
		.player_bid_zone span[style*="\000022#000000\000022"] {
			text-shadow: -1px -1px 0 #777, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777;
		}
	}
}

// Dingo's Dreams
#hud {
	box-shadow: inset 0 0 10px c.tint(rgba(17,17,17,.67));
	&+ .play_grids {
		.play_grid {
			box-shadow: inset 0 0 10px c.tint(rgba(17,17,17,.67));
			.player_name {
				text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;
			}
		}
	}
}

// Blue Skies
#bsk {
	color: white;
}

// Dice Forge
#turn-container {
	#nb-turns-container {
		// text-shadow: -1px -1px 0 #777, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777;
		color: #fff;
	}
}

// Thurns & Taxis
#thurntaxis_board {
	#carriages,
	.gameAreaContainer {
		border: c.tint(rgba(100,100,100,.5));
		h3 {
			color: #fff;
		}
	}
}

// Teotihuacan
#player_table {
	h3[style*="\000022#000000\000022"] {
		text-shadow: -1px -1px 0 #777, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777;
	}
}
