$default: (
	red-delta: 0,
	green-delta: 0,
	blue-delta: 0
);

$purple: (
	red-delta: 17,
	green-delta: -17,
	blue-delta: 17
);

$deep-purple: (
	red-delta: -8,
	green-delta: -17,
	blue-delta: 0
);

$cafe: (
	red-delta: 17,
	green-delta: 0,
	blue-delta: -17
);

$blue: (
	red-delta: 0,
	green-delta: 0,
	blue-delta: 17
);

$green: (
	red-delta: 0,
	green-delta: 17,
	blue-delta: 0
);

$wine: (
	red-delta: 34,
	green-delta: -17,
	blue-delta: 0
);

$merlot: (
	red-delta: 70,
	green-delta: -17,
	blue-delta: 0
);

$orange: (
	red-delta: 255,
	green-delta: 79,
	blue-delta: 0
);

$deep-orange: (
	red-delta: 60,
	green-delta: -40,
	blue-delta: -120
);

$blood: (
	red-delta: 255-222,
	green-delta: 79-222,
	blue-delta: 0-222
);

