@use "sass:color";

// Purple
$red-adjust: 17;
$green-adjust: -17;
$blue-adjust: 17;

// Deep purple
$adj: 17;
$red-adjust: 0-$adj/2;
$green-adjust: 0-$adj;
$blue-adjust: 0;

// Cafe
$red-adjust: 17;
$green-adjust: 0;
$blue-adjust: -17;

// Blue
$red-adjust: 0;
$green-adjust: 0;
$blue-adjust: 17;

// Green
$red-adjust: 0;
$green-adjust: 17;
$blue-adjust: 0;

// Wine
$red-adjust: 34;
$green-adjust: -17;
$blue-adjust: 0;

// Merlot
$red-adjust: 70;
$green-adjust: -17;
$blue-adjust: 0;

// Orange
$red-adjust: 255;
$green-adjust: 79;
$blue-adjust: 0;

// Deep orange
$red-adjust: 60;
$green-adjust: -40;
$blue-adjust: -120;

// Blood
$red-adjust: 255-222;
$green-adjust: 79-222;
$blue-adjust: 0-222;

// Default
$red-adjust: 0;
$green-adjust: 0;
$blue-adjust: 0;


@function tint($base) {
  @return color.adjust($base, $red: $red-adjust, $green: $green-adjust, $blue: $blue-adjust);
}

/* Page and common header */
html {
	background: radial-gradient(#{"ellipse /**/at /**/top"},tint(#555), tint(#0A0A0A)), 
		radial-gradient(#{"ellipse /**/at /**/bottom"}, tint(#555), tint(#0A0A0A)), 
		url(https://wallpaperaccess.com/full/781329.jpg);
	background-attachment: fixed;
	background-position: center;
}

#topbar {
	background:tint(#222);
}

#async_table_banner {
	color: #fff;
	background-color: #e00;
	a {
		color: #0cc;
		&:link, &:visited {
			color: #0cc;
		}
	}
}

#page-title {
	background-color: tint(rgba(88, 88, 88, 0.75)) !important;
	color: #fff;
}

.current_player_is_active #page-title {
	background-color: tint(#777); 
}

.pageheader {
	background-color: transparent;
	color: #fff;
}

.pageheader_menuitembar {
	border-radius: 0 0 6px 6px;
}


/* General rules */
.newbgatable {
	th {
		text-transform: capitalize;
		color: #fff;
	}

	td {
		color: #fff;
	}
}

.gametable {
	border: 1px tint(#000) solid;
	background-color: tint(#444);
	padding-top: 10px;
	padding-bottom: 10px;
}

.pagesection {
	background-color: tint(rgba(64, 64, 64, 0.5));
	color: #fff;
}

#pagesection_about {
	color: #FFF;
}

.pagesection h2, .portlet h2, .pagesection h3, .portlet h3 {
	background: linear-gradient(tint(#888), tint(#777));
	color: tint(#111);
}

a.bgabutton_gray {
	background-color: #FFF;
}

span.bgabutton_gray {
	background: tint(#bbb);
}

.bgabutton_blue {
	background: #71b648;
}

.pageheader_menu_verylarge .pageheader_big_switch {
	background-color: tint(#333);
	color: #FFF;
}

.tabbed_slider_bar_left, .tabbed_slider_bar_right {
	border-top: 28px solid tint(#444);
}

.tabbed_slider_bar_barcenter, #pageheaderlobby {
	background: tint(#444);
}

.switcher_zone {
	background: linear-gradient(tint(#333), tint(#111));
	border-left: 1px solid tint(#555);
	.fa-caret-down {
		text-shadow: 1px 0 1px tint(#777);
		color: #333;
	}
}

.icon_plus span {
	top: (-3px) !important;
}

.statstable th {
	background-color: tint(#222);
}

.gametable_separator {
	background-color: tint(#222);
}

.playernotification_not_read {
	background-color: #edbab7;
}

.dijitInputInner {
	background-color: tint(#222) !important;
	color: #fff;
}

.controlpanelmenu {
	.panelmenuicon, .subtitle {
		color: unset;
	}
}

.dj_webkit .tundra .dijitTooltipContainer {
	box-shadow: 0 5px 10px tint(#111);
}

.dijitPopup {
	> a.bgabutton_gray, a.bgabutton_gray {
		color: tint(#111);
	}
}

.dijitTooltipDialogPopup a.bgabutton_gray, .gametable a.bgabutton_gray {
	border: 1px solid tint(#111);
	color: tint(#111);
}


/* Welcome module */
#welcome-module {
	.post {
		border-bottom: 1px tint(#666) solid;
	}

	.comment {
		background-image: none;
		background-color: tint(rgba(245, 245, 245, 0.15));
		border-radius: 6px;
	}

	.extended_message_hidden:after {
		left: 67px;
		background: linear-gradient(#{"to /**/bottom"}, tint(rgba(32, 32, 32, 0)), tint(rgba(32, 32, 32, 1)));
	}

	.board_fake_input {
		background-color: tint(#222);
		border: 1px solid tint(#b3b3b3);
	}
}


/* Games list */
#gamelist-module {
	select {
		background-color: tint(#222);
		color: #FFF;
	}

	.game_category_more_wrap {
		display: none;
	}

	.gamelist_item {
		box-shadow: none;
		margin-right: 30px;
		.game_box_image_wrap {
			img:hover {
				transform: scale(1.05);
			}
			padding: 10px;
			border-radius: 8px;
			border: 2px solid tint(#111);
			background:radial-gradient(#{"ellipse /**/at /**/center"},#{"#555/**/ -50%"},tint(#191919));
			.emblempremium_big {
				position: absolute;
				right: unset;
				left: -16px;
			}
		}
	}

	.gamelist_item {
		zoom: 110%;
	}

	.gamelist_itemrow {
		overflow: visible;
	}

	.gamename {
		font-size: 20px;
		position: relative;
		left: 10px;
    top: 2px;
		color: tint(#666);
	}
}

/*
.notouch-device #gamelist-module .gamelist_item:hover {
	background-color: rgba(20, 20, 20, 0.5);
}
*/
.notouch-device #gamelist-module .gamelist_item:hover {
	background-color: transparent;
}

.notouch-device #gamelist-module a:hover {
	color: tint(#666);
	text-decoration: none;
}

.notouch-device #gamelist-module a .gamename:hover {
	color: tint(#666);
	text-decoration: underline;
}

/* Lobby */
#gamelobby-module {
	/* Structure of the DOM:
	#gamelobby-module
		...
		favorite_section <-- This is where .compactlobby, .verycompactlobby, and .tiny_verycompactlobby appear
			...
			.wannaplay_games_list
				.game_box_wrap
					.wannaplay_item
						.game_box_image_wrap
						.game_box_mask
							.game_box_mask_content
						.gamename .wannaplay_gamename
							.gamenameinner
						.wannaplayauto_play_zone
	*/

	#lobby_invite_more_friend_button .lobby_invite_friend_avatar, 
	#lobby_add_friend_button .lobby_invite_friend_avatar {
		background-color: tint(#222);
	}
	
	.game_box_wrap {
		margin-right: 20px;
		border: 2px solid tint(#111);
		&.tables_available {
			border: 2px solid tint(#000);
		}

		.wannaplay_item {
			background:radial-gradient(#{"ellipse /**/at /**/center"},tint(#555)#{"/**/ -50%"},tint(#191919));
			.game_box_mask {
				left:unset;
				right:-20px;
				top:40px;
				.wannaplay_mask_button.del_favorite {
					background-color: tint(#444);
					border: 1px solid tint(#000);
				}
			}
					
			/* The actual game box image */
			.game_box_image_wrap {
				position: absolute;
				top: 7px;
				zoom: 120%;
			}

			.wannaplay_gamename {
				top: 250px;
				.gamenameinner {
					width: 90%;
					text-align: center;
					left: 8px;
					a {
						&:link, &:visited {
							color: tint(#666);
						}
					}
				}
			}
	
			.emblempremium_big {
				position: absolute;
				right: unset;
				left: -16px;
			}
		}
	}

	/* Hide the redundant Play now! button */
	.wannaplayauto_play_zone_content {
		display: none;
		.wannaplayauto_button {
			box-shadow: 0 5px 10px 0 tint(rgba(0, 0, 0, 0.7));
		}
	}

	/* Medium and small icons display mode */
	.compactlobby {
		.game_box_wrap {
			.wannaplay_item {
				.game_box_mask {
					right: -26px;
				}
				.wannaplay_gamename {
					top: 145px;
				}
				.gamenameinner {
					width: 90%;
				}
			}
		}
	}

	.verycompactlobby {
		.game_box_wrap {
			.wannaplay_item {
				.game_box_mask {
					right: -26px;
				}
				.wannaplay_gamename {
					top: 145px;
				}
				.gamenameinner {
					width: 90%;
				}
				.game_box_image_wrap {
					top: 15px;
				}
			}
		}
	}

	/* Tiny icons display mode */
	.tiny_verycompactlobby {
		.game_box_wrap {
			.wannaplay_item {
				.game_box_image_wrap {
					top: 2px;
					left: 2px;
					zoom: unset;
				}
			}
		}		
	}
}


/* Table module */
#table-module {
	.pageheader {
		background-color: tint(rgba(0, 0, 0, 0.4));
		color: #fff;
	}

	.game_progression_bar {
		top: inherit;
		border: 1px tint(#999) solid;
	}

	.whiteblock {
		background-image: none;
		background-color: tint(#444);
		border-radius: 10px;
	}

	.active_player_left {
		border-right: 1px (#666) solid;
	}
}


/* Game page */
#game_interface {
	#logs {
		overflow: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		.log .roundedbox {
			background-color: tint(rgba(222, 222, 222, 0.65));
			border-radius: 5px;
		}
	}

	.player-board {
		background: #eee;
	}

	#pagemaintitletext > span:first-of-type {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
}


/* Communty page */
#community-module .col-md-6 .tips {
	background-color: tint(#202020);
}


/* Chat */
#chatbar {
	.dropshadow {
		background-image: none;
	}

	.msgtime {
		position: unset;
		color: tint(#888);
	}

	.chatwindowexpanded {
		background-color: tint(#eee);
	}
	
	.chatwindowcollapsed {
		border-radius: 7px 7px 0 0;
		box-shadow: 0 0 7px 5px tint(rgba(0, 0, 0, 0.3));
		background-color: tint(rgba(255, 255, 255, 0.9));
	}
	
	.chatwindowcollapsedtitle {
		top: 6px;
		left: 9px;
	}

	.chatwindowlogs {
		background-color: tint(rgba(0, 0, 0, 0.66));
		box-shadow: 0 0 7px 5px tint(rgba(0, 0, 0, 0.5));
	}
	
	.chatwindowlogs_zone .roundedbox.chatlog {
		.roundedboxinner {
			background-color: tint(rgba(255, 255, 255, 0.7));
			color: tint(#000);
		}

		&.ownchatlog .roundedboxinner {
			background-color: tint(rgba(100, 100, 100, 0.7));
			color: #fff;
		}
	}
}
